*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.content{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content__item{
    color: black;
    text-decoration: none;
    background-color: #f7f7f7;
    margin: 20px;
    padding: 10px 15px;
    width: 260px;
    height: 400px;
    border-radius: 10px;
}
.content__item:hover{
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    transition: 0.2s ease;
    transform: scale(1.1);
}
.image__container{
    display: flex;
    justify-content: center;
}
.image{
    height: 20vh;
    margin: 0 auto 10px auto;
}
.content__heart{
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}
.heart{
    color: #FC46AA;
    display: flex;
    font-size: 26px;
    cursor: pointer;
}
.heart:active{
    color: black;
}
.title{
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    max-height: 2vh;
    margin-bottom: 5px;
}
.description{
    font-size: 14px;
    color: dimgray;
    margin: 0 auto 20px auto;
    width: 80%;
    text-align: center;
    max-height: 4vh;
    overflow: hidden;
}
.price{
    text-align: center;
    color: black;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
}
.scents{
    display: flex;
    margin:0 auto 20px auto;
    justify-content: space-between;
    width: 90%;
}
.scents__item{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 7vw;
    font-size: 14px;
    background-color: #FC46AA;
    color: white;
    padding: 8px;
}
@media (min-width: 765px) and (max-width: 1024px) {
        .content__item{
            width: 30%;
            height: 40%;
            margin: 5px;
        }
    .image{
        margin-bottom: 5px;
    }
    .content__heart{
        margin-bottom: 5px;
    }
    .scents__item{
        width: 10vw;
        font-size: 14px;
    }
    .description{
        margin-bottom: 10px;
    }
    .scents{
        margin-bottom: 10px;
    }
    .price{
        margin-bottom: 10px;
    }
    .title{
        height: 2vh;
        overflow: hidden;
    }
}
@media (max-width: 764px) {
    .content__item{
        width: 48%;
        margin: 2px;
        height: 40vh;
    }
    .image{
        height: 15vh;
        margin-bottom: 0px;
    }
    .heart{
        margin-bottom: -2px;
    }
    .title{
        height: 2vh;
        overflow: hidden;
        font-size: 14px;
    }
    .description{
        font-size: 12px;
        height: 4vh;
        overflow: hidden;
        margin-bottom: 7px;
    }
    .scents__item{
        width: 15vw;
        font-size: 12px;
        padding: 5px;
    }
    .scents{
        margin-bottom: 10px;
    }
    .price{
        font-size: 16px;
    }
}