.container{
    width: 100vw;
    margin-top: 30px;
    margin-bottom: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background{
    background-color: #f7f1ec;
    width: 100%;
    height: 37vh;
    z-index: 1;
    margin-top: 100px;
}
.content{
    z-index: 2;
    display: flex;
    width: 85vw;
    position: absolute;
}
.image{
    height: 45vh;
    cursor: pointer;
    order: 1;
    width: 90vw;
}
.image img{
    border-radius:30px;
    width: 100%;
    height: 100%;
    margin-bottom: 330px;
}
.description__container{
    padding: 30px 30px 30px 40px;
    width: 85%;
    order: 2;
    margin-top: 10%;
}

.title{
    max-width: 80%;
    font-size: 30px;
    font-family: inherit;
    font-weight: bolder;
    margin-bottom: 20px;
}
.description{
    max-width: 80%;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: 16px;
    color: dimgray;
    max-height: 90px;
    overflow: hidden;
}
.button{
    text-decoration: none;
    color: black;
    cursor: pointer;
    max-width: 70px;
    border-bottom: 2px solid black;
    padding: 4px;
}
.button:hover{
    border-bottom: 2px solid #FC46AA;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .content{
        width: 95vw;
    }
    .title{
        font-size: 25px;
    }
    .description{
        max-height:75px;
    }
    .description__container{
        width: 75%;
        padding: 10px 20px 20px 20px;
    }
    .image{
        height: 40vh;
    }
    .background{
        height: 36vh;
        margin-top: 60px;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    .content{
        width: 85vw;
    }
    .container{
        margin-bottom: 80px;
    }
    .image{
        height: 25vh;
    }
    .background{
        height: 25vh;
        margin-top: 25px;
    }
    .title{
        font-size: 14px;
        margin-bottom: 8px;
        max-width: 100%;
    }
    .description__container{
        width: 80%;
        padding: 0 0 0 30px;
    }
    .description{
        font-size: 12px;
        max-height: 3.5em;
        max-width: 90%;
        margin-bottom: 8px;
    }
    .button{
        font-size: 14px;
    }
}
@media (max-width: 479px){
    .content{
        width: 95vw;
    }
    .container{
        margin-bottom: 80px;
    }
    .image{
        margin-top: 10px;
        height: 20vh;
    }
    .background{
        height: 24vh;
        margin-top: 25px;
    }
    .title{
        font-size: 14px;
        margin-bottom: 5px;
        max-width: 100%;
    }
    .description__container{
        max-width: 90%;
        padding:10px 0 0 10px;
    }
    .description{
        font-size: 12px;
        max-height: 3.5em;
        max-width: 90%;
        margin-bottom: 5px;
    }
    .button{
        font-size: 14px;
    }
}