.container{
    width: 100vw;
    max-width: 1280px;
    margin: 30px auto 80px auto;
}
.title{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.title__description{
    font-size: 25px;
    margin: 0 10px;
}
.title__content{
    width: 150px;
    height: 2px;
    background-color: #FC46AA;
}
@media(min-width: 765px)and (max-width: 1024px){
    .container{
        margin-top: -40px;
    }
}
@media (max-width: 764px) {
    .container{
        margin: 180px 0 60px 0;
        display: flex;
        justify-content: center;
    }
    .title__description{
        font-size: 20px;
    }
    .title__content{
        width: 25vw;
    }
}