.container{
    width: 100%;
    height: 23vh;
    background-color: black;
}
.content{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}
.content__newstseller__title{
    color: white;
    margin-right: 30px;
    font-size: 16px;
}
.info{
    color: white;
    text-align: center;
    margin-top: 60px;
}
.content__social{
    color: white;
}
.content__newstseller__item{
    display: flex;
    align-items: center;
}
.input__item{
    background-color: white;
    width: 240px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.input__item input{
    width: 80%;
    border-radius: 5px;
    height: 100%;
    outline:none;
    border: solid white;
    padding: 10px;
    font-size: 14px;
    color: dimgray;
}
.input__item input::placeholder{
    font-size: 12px;
}
.input__item button{
    cursor: pointer;
    width: 18%;
    height: 35px;
    background-color: black;
    border: solid black;
}
.arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.input__item button:hover{
    background-color: #FC46AA;
    border: solid #FC46AA;
}
.content__social__item{
    font-size: 24px;
    margin-left: 20px;
}
@media(min-width: 768px)and (max-width: 1024px){
    .container{
        padding: 0 30px;
    }
}
@media (max-width: 765px) {
    .container{
        padding: 0 20px;
        max-width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .content__newstseller__title{
        font-size: 14px;
        margin-right: 0;
    }

    .info{
        margin-top: 15px;
        font-size: 14px;
    }
    .input__item{
        width: 160px;
        height: 40px;
        margin-left: 15px;
    }
}