
.container{
    width: 100%;
    height: 6vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    position: absolute;
    right: 100px;
    cursor: pointer;
}
.button:before, .button:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background: #FC46AA;}
.button:before {
    transform: rotate(45deg);
}
.button:after {
    transform: rotate(-45deg);
}
.description{
    color: white;
}