.container{
    width: 30%;
    height: 470px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.image{
    width: 100%;
    height: 100%;
}
.title{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.container:hover{
    transition: .3s linear;
    filter: brightness(90%);
}
.title:hover{
    transition: .2s linear;
    color: white;
    border-bottom: 3px solid #FC46AA;
}

@media (min-width: 765px) and  (max-width: 1080px){
   .container{
       height: 300px;
        width: 32%;
   }
    .title{
        font-size: 20px;
    }
}