.container{
    max-width: 1080px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
@media (min-width: 765px) and  (max-width: 1080px){
    .container{
        width: 90vw;
    }
}