.container{
    max-width: 1280px;
    margin: 40px auto 100px auto;
}
.container__title{
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.title__div{
    width: 8vw;
    height: 2px;
    background-color: #FC46AA;
    margin:0 10px;
}
.content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 40px auto;
}
.content__item{
    cursor: pointer;
    display: flex;
    width: 30%;
}
.content__icon{
    font-size: 50px;
    margin-right: 10px;
}
.content__description__title{
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 3px;
}
.content__description__describe{
    font-size: 14px;
    color: dimgray;
}
.product__card{
    background-color:#f7f7f7;
    min-height: 200px;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}
/*content product*/
.content__product{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 2px dashed lightgray;
}
.content__product:last-child{
    border-bottom: none;
}
.content__image{
    height: 130px;
    width: 110px;
}
.content__image img{
 height: 100%;
}
.content__product__description{
    width: 220px;
}
.content__product__description__price,.content__product__description__price__count{
    width: 80px;
     cursor: pointer;
     font-size: 20px;
     font-weight: bolder;
     font-family: 'Libre Franklin', sans-serif;
}
.content__product__description__count{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    justify-content: space-between;
    color: white;
}
.content__product__description__count__item{
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    background-color: #FC46AA;
}
.content__product__description__count__minus{
    font-size: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.content__product__description__count__plus{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.content__product__description__delete{
    color: black;
    font-size: 30px;
}
.content__product__description__item__title{
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 16px;
}
.content__product__description__item{
    font-size: 14px;
    color: dimgrey;
    margin-bottom: 5px;
}
.content__product__description__delete{
    cursor: pointer;
}
.content__product__likes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #FC46AA;
    width: 150px;
    height: 50px;
    border-radius: 20px;
}
.content__product__likes:hover{
   opacity: 0.9;
}
@media (min-width: 765px) and (max-width: 1024px) {
    .content__product{
        padding:  0 ;
        display: flex;
        justify-content: space-between;
    }
   .content__image{
        margin-right: 20px;
   }
   .content__product__description{
       margin-right: 20px;
   }
    .content__product__description__item__title{
        font-size: 15px;
    }
   .content__product__description__price{
       margin-right: 20px;
   }
   .content__product__description__count{
       margin-right: 20px;
   }
   .content__product__description__price__count{
       margin-right: 20px;
   }
   .content__product__description__delete{
       font-size: 28px;
       margin-right: 20px;
   }
}
.product__price__container{
    width: 100%;
    display: flex;
    justify-content: right;
}
.product__price{
    margin: 40px 120px 0 0;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #FC46AA;
}

.product__price__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 764px) {
    .content__product{
        padding:  0 ;
        display: flex;
        justify-content: space-between;
    }
    .content__image{
    }
    .content__product__description{
    }
    .content__product__description__item__title{
        font-size: 15px;
    }
    .content__product__description__price{
        margin-right: 20px;
    }
    .content__product__description__count{
        margin-right: 20px;
    }
    .content__product__description__price__count{
        margin-right: 20px;
    }
    .content__product__description__delete{
        font-size: 28px;
        margin-right: 20px;
    }
}
