.container{
    max-width: 1280px;
    margin: 40px auto 100px auto;
}
.container__title{
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.title__div{
    width: 8vw;
    height: 2px;
    background-color: #FC46AA;
    margin:0 10px;
}
.content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 40px auto;
}
.content__item{
    cursor: pointer;
    display: flex;
    width: 30%;
}
.content__icon{
    font-size: 50px;
    margin-right: 10px;
}
.content__description__title{
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 3px;
}
.content__description__describe{
    font-size: 14px;
    color: dimgray;
}
.product__card{
    background-color:#f7f7f7;
    min-height: 200px;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}
/*content product*/
.content__product{
    height: 150px;
    display: flex;
    align-items: center;
}
.content__image img{
    margin-right: 80px;
    height: 130px;
    max-width: 150px;
}
.content__product__description{
    max-width: 200px;
    margin-right: 80px;
}
.content__product__description__price,.content__product__description__price__count{
    cursor: pointer;
     font-size: 20px;
     font-weight: bolder;
     font-family: 'Libre Franklin', sans-serif;
     margin-right: 80px;
}
.content__product__description__count{
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #FC46AA;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    height: 45px;
    width: 125px;
    margin-right: 100px;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 30px;
}
.content__product__description__price__count{
    margin-right: 100px;
}
.content__product__description__delete{

}
.content__product__description__count__minus{
    width: 12px;
    height: 3px;
    background-color: white;
}
