*{
    font-family: 'Libre Franklin', sans-serif;
}
.content__image__description{
    width: 50%;
}
.content{
    height: 100%;
    margin: 60px auto 100px auto;
    max-width: 1280px;
    position: relative;
}
.description{
    margin: 40px auto 0 auto;
    max-width: 1280px;
    position: relative;
}
.description__container{
    width: 90%;
}
.content__image{
    cursor: pointer;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
}
.content__img{
    width: 40%;
}
.content__img img{
    height: 55vh;
    border-radius: 10px;
    margin-right: 30px;
}
.content__title{
    font-size: 24px;
    font-weight: bolder;
    margin: 10px 0 20px 0;
}
.content__availabality{
    font-size: 20px;
    margin-bottom: 20px;
}
.content__range{
    margin-bottom: 20px;
}
.content__range__item{
    color: #FC46AA;
    font-size: 20px;
}
.content__price{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.content__counter{
    display: flex;
    height: 5vh;
}
.content__count{
    margin-bottom: 25px;
}
.content__count__title{
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.content__counter__item{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    width: 40px;
    font-size: 18px;
    color: gray;
    font-weight: bolder;
}
.content__counter__number{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    width: 55px;
    font-size: 18px;
}
.button__item{
    display: flex;
}
.button__buy{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: white;
    background-color: black;
    border-radius: 10px;
    height: 6vh;
    font-weight: bolder;
}
.button__buy:hover{
    background-color: #FC46AA;
}
.button__like{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}
.button__like__heart{
    font-size: 23px;
}
.button__like__heart:hover{
    color: #FC46AA;
}
.button__item{
    margin-bottom: 40px;
}
.bought__item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid darkgray;
    padding-bottom: 8px;
    width: 80%;
    font-size: 14px;
}
.basket{
    color: black;
    font-size: 22px;
    margin-right: 5px;
}
.description__title{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}
.description__item{
    color: black;
    margin-bottom: 25px;
}
.description__title__border{
    height: 2px;
    width: 100px;
    background-color: #FC46AA;
    margin: 0 5px;
}
.description__title__border:nth-child(2){
    width: 100%;
}
.content__price__reduce{
    color: red;
}
@media (min-width: 765px) and (max-width: 1024px) {
    .content{
        padding-left: 20px;
    }
    .content__img{
        width: 30%;
    }
    .content__image{
        justify-content: space-between;
        padding: 0 100px 0 0;
    }
}
@media (max-width: 764px) {
    .content{
        padding: 0 30px 30px 30px;
        margin: 30px auto;
    }
    .content__image{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }
    .content__img img{
        width: 70vw;
        height: 45vh;
    }
    .content__title{
        font-size: 18px;
        width: 80vw;
        margin-bottom: 15px;
    }
    .content__range__item{
        font-size: 18px;
    }
    .content__range{
        margin-bottom: 10px;
    }
    .content__availabality{
        width: 80vw;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .content__price{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .button__item{
        width: 80vw;
        margin-bottom: 20px;
    }
    .button__like{
        width: 15%;
    }
    .bought__item{
        width: 80vw;
    }
    .description__title{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .description__item{
        width: 90vw;
        font-size: 16px;
        margin-bottom: 10px;
    }
}